<%- include('includes/head') %>

<body>

  <section class="container">
    <h1>
      <%= titulo %>
    </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Repellendus nisi explicabo saepe voluptatibus consequuntur et corporis
      maxime quos, doloribus vitae voluptatum quisquam necessitatibus
      pariatur veritatis exercitationem beatae officiis suscipit Ea!
    </p>
  </section>

  <script src="./assets/js/bundle.js"></script>
</body>

</html>